<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Google Analytics</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>GA_ENABLED</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sounds</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Countdown of timer</string>
			<key>Key</key>
			<string>COUNTDOWN</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Standard sound for alarm</string>
			<key>Key</key>
			<string>DEFAULTSOUND</string>
			<key>DefaultValue</key>
			<string>Aurora</string>
			<key>Titles</key>
			<array>
				<string>Aurora</string>
				<string>Chord</string>
				<string>Complete</string>
				<string>Input</string>
				<string>Note</string>
				<string>Pulse</string>
				<string>Bamboo</string>
				<string>Cirles</string>
				<string>Hello</string>
				<string>Keys</string>
				<string>Popcorn</string>
				<string>Synth</string>
			</array>
			<key>Values</key>
			<array>
				<string>Aurora</string>
				<string>Chord</string>
				<string>Complete</string>
				<string>Input</string>
				<string>Note</string>
				<string>Pulse</string>
				<string>Bamboo</string>
				<string>Cirles</string>
				<string>Hello</string>
				<string>Keys</string>
				<string>Popcorn</string>
				<string>Synth</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Market</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Country</string>
			<key>Key</key>
			<string>CONFIG_COUNTRY</string>
			<key>DefaultValue</key>
			<string>auto</string>
			<key>Titles</key>
			<array>
				<string>Automatic (from system)</string>
				<string>Deutschland</string>
				<string>Österreich</string>
				<string>Suisse/Svizzera/Schweiz/Svizra</string>
				<string>Danmark</string>
				<string>Sverige</string>
				<string>France</string>
				<string>United Kingdom</string>
				<string>中華人民共和國</string>
				<string>대한민국</string>
				<string>Россия</string>
				<string>Lietuva</string>
				<string>Україна</string>
				<string>Ελλάδα</string>
				<string>România</string>
				<string>מדינת ישראל</string>
				<string>Brasil</string>
				<string>日本</string>
			</array>
			<key>Values</key>
			<array>
				<string>auto</string>
				<string>DE</string>
				<string>AT</string>
				<string>CH</string>
				<string>DK</string>
				<string>SE</string>
				<string>FR</string>
				<string>GB</string>
				<string>CN</string>
				<string>KR</string>
				<string>RU</string>
				<string>LT</string>
				<string>UA</string>
				<string>GR</string>
				<string>RO</string>
				<string>IL</string>
				<string>BR</string>
				<string>JP</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Displaying debugging infos</string>
			<key>Key</key>
			<string>DEBUGGING</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
